@import url('https://fonts.googleapis.com/css?family=Blinker&display=swap');

@font-face {
  font-family: 'Gobold';
  src: url('/fonts/Gobold\ Regular.otf')
}

@font-face {
  font-family: 'Gobold-bold';
  src: url('/fonts/Gobold\ Regular\ Italic.otf')
}

.home-box {
  font-family: 'Blinker', sans-serif;
  font-size: 1.3em;
}

.foot {
  background-color: #212121;
}

.footer-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 100px;
  padding-bottom: 50px;
}

.footer-logo {
  width: 80%;
  margin-right: 100px;
  padding: 50px 0  50px 0;
}

.footer-text {
  color: white;
}

* {
  outline: 0;
}

html{
  margin: 0;
  padding: 0;
  color:white;
  background-color: black;
}

.App{
  background-color: black;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.modal-wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 2;
}

.modal-bg {
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, .8);
  z-index: 1;
  cursor: pointer;
}

.form-modal {
  width: 45%;
  display: flex;
  flex-direction: column;
  background: #141414;
  border-radius: 20px;
  padding: 2rem;
  text-align: left;
  z-index: 2;
  padding: 2rem 2rem;
}

.modal-custom{
  background-color: #212121 !important;
  color: white;
}

@media only screen and (max-width: 900px) {
  .form-modal {
    width: 80%;
    display: flex;
    flex-direction: column;
    background: #141414;
    border-radius: 20px;
    padding: 5rem 1.5rem;
    margin-top: 1rem;
    text-align: left;
    z-index: 2;
  }
}


.close-custom{
  color: white;
}
.btn-submit{
  width: 10rem;
  border: 1px solid red;
  background: none;
  border-radius: 30px;
  color: white;
  padding: .3rem;
  text-transform: uppercase
}

.btn-submit:hover{
  background: rgb(236, 50, 59);

}
.close-modal-btn {
  position: absolute;
  right: 32px;
  top: 32px;
  width: 32px;
  height: 32px;
  opacity: 0.3;
  z-index: 2;
}
.close-modal-btn:hover {
  opacity: 1;
  cursor: pointer;
}
.close-modal-btn:before, .close-modal-btn:after {
  position: absolute;
  left: 15px;
  content: '';
  height: 33px;
  width: 2px;
  background-color: #fff;
}

.close-modal-btn:before {
  transform: rotate(45deg);
}

.close-modal-btn:after {
  transform: rotate(-45deg);
}

.container {
  padding-top: 3rem;
  color: white
}

.search-grid-image-wrapper {
  background: #e1e1e1;
  transition: .2s ease;
  cursor: pointer;
}

.search-grid-image-wrapper:hover {
  transform: scale(1.05);
  transition: .2s ease;
}

.search-tattoos-grid-container:hover img {
  filter: grayscale(100%);
  transition: .15s ease;
}

.search-grid-image-wrapper:hover {
  transform: scale(1.05);
  transition: .3s ease;
}

.search-grid-image-wrapper:hover img {
  filter: grayscale(0%) !important;
}

.search-grid-image-wrapper:hover .search-grid-overlay {
  display: flex;
}

.search-grid-overlay {
  position: absolute;
  padding: .5rem;
  text-align: center;
  width: 35px;
  height: 35px;
  background: #A61415;
  border-radius: 50%;
  color: #fff;
  top: 0;
  right: 0;
  margin: .5rem;
  justify-content: center;
  align-items: center;
  display: none;
}
  
.search-grid-overlay:hover {
  background: #FF4D4E;
}

.categories-container {
  font-size: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 2rem;
}

.category-container {
  display: inline-block;
  /* width: 10%; */
  margin: .5rem .5rem;
}

.label-cat{
  padding:1rem 0px 0px 0px;
}

.category-container label {
  width: 100%;
  text-align: center;
  display: inline-block;
  font-size: .8rem;
  border: 1px solid rgb(236, 50, 59);
  background-color: #131212;
  border-radius: .3rem;
  padding: .5rem 1.5rem;
  cursor: pointer;
  margin-top: -1rem;
  font-size: 1rem;
  transition: .2s ease;
}

.category-container input {
  display: none;
}

.category-container input:checked + label, .category-container:hover label {
  background: rgb(243, 36, 64);
  border: 1px solid white;
  transition: .2s ease;
  transform: scale(1.1);
}


.search-bar input {
  width: 50vh;
  padding: .5rem 1.5rem;
  border-top: 0px;
  border-left: 0px;

}

.search-space{
  background-color: white;
  border-bottom: 2px solid red;

}

.search-toggle {
  margin: 0 auto;
  text-align: center;
  margin-bottom: 2rem;
}

.search-toggle input {
  display: none;
}

.search-toggle input:checked + label {
  background: #A61415
}

.search-toggle label {
  padding: .5rem 2rem;
  border: 1px solid #fff;
  cursor: pointer;
}

.search-toggle label:first-of-type {
  border-radius: 1rem 0 0 1rem ;
}

.search-toggle label:last-of-type {
  border-radius: 0 1rem 1rem 0 ;
}

.search-toggle label:hover {
  background:#FF4D4E;
}

.artist-search-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.artist-search-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 10px;
  width: 45%;
  min-width: 400px;
  padding: 1rem; 
  margin: 1rem 0;
  position: relative;
  background: #5a5a5a;
  transition: .3s ease;
}

.artist-search-card:hover {
  transform: scale(1.1);
  transition: .3s ease;
}

.search-artist-tattoos-preview {
  display: flex;
  flex-direction: row;
}

.artist-search-latest img {
  width: 50px;
  margin: 1rem .5rem .5rem;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
}

.artist-search-info {
  display: flex;
  flex-direction: row;
  align-items: center;
}


.artist-search-card h4 {
  display: inline;
  margin: 0;
  color: #fff;
  font-weight: bold;
  padding: 5px 0;
}

.artist-search-fav-btn {
  position: absolute;
  bottom: 15px;
  right: 15px;
  width: 30px;
  height: 30px;
}

.artist-search-profile-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.artist-search-profile-text p {
  margin: 0;
}

.search-artist-category {
  color: #fff;
  font-size: .9rem;
}

.artist-search-card a:hover {
  border: none;
  text-decoration: none;
}

.artist-search-profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.artist-search-profile-picture {
  margin-right: 15px;
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 50%;
}

#upload-image {
  display: none;
}

.upload-image-container, .upload-image-container label {
  cursor: pointer;
}

.profile-image {
  object-fit: cover;
}

.folder-cover {
  width: 100%;
  height: 12rem;
}

.folder-cover img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (max-width: 900px) {
  .search-bar input{
   width: 30vh;
  }
}

.dropdown-modal{
  background-color: black;
  width: 100%;
  color: white;
  font-size: 15px;
  padding: 0.5rem 2rem; 
  border: 1px solid red;
}

.container-dropdown{
  margin-top: 6.5rem;
  background-color: #212121;
}

.container-dropdown label{
  color: white;
}