.chat {
  position: fixed;
  bottom: 100px;
  right: 50px;
  background-color: white;
  width: 400px;
  height: 500px;
  border-radius: 3% 3% 0% 3%;
  color: black;
}

.chat-title {
  padding-left: 10%;
  padding-top: 10%;
}

.close-chat {
  padding-right: 40px !important;
  padding-top: 20px !important;
}

.start-chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-transform: uppercase;
  background-color: red;
  border-color: red;
}

.start-chat:focus {
  outline:none;
}

.messages {
  width: 100%;
  overflow-x: hidden;
  word-wrap: break-word;
}

.messages-container {
  padding-left: 15px;
}

.messages-container {
  height: 65%;
  width: 90%;
  border-radius: 10%;
  overflow: auto;
  background-color: white;
}

.inputs-chat {
  display: flex;
  padding-left: 20px;
}

.inputs-chat input {
  width: 80%;
}

.inputs-chat button {
  background-color: black;
  border-color: black;
}

.users-container-chat {
  padding-top: 50px;
  padding-left: 50px;
  height: 80%;
  width: 80%;
  border-collapse: black;
}

.user-chat {
  display: flex;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid black;
  width: 100%;
}

.user-chat:hover {
  background-color: black;
  color: white;
}

.chat-user-title {
  padding-left: 50px;
  padding-top: 20px;
  margin-bottom: 0;
}

.user-select-chat {
  margin-bottom: 0;   
  margin-left: 10px;
}

.img-chat {
  width: 30px;
  border-radius: 50%;
}

@media only screen and (max-width: 540px) {
  .chat {
    position: fixed;
    bottom: 80px;
    right: 20px;
    background-color: white;
    width: 90vw;
    height: 80vh;
    border-radius: 3%;
    color: black;
  }

  .messages-container {
    height: 52vh;
    width: 90vw;
    border-radius: 10%;
    overflow: auto;
    background-color: white;
  }

  .inputs-chat input {
    width: 65vw;
  }

  .users-container-chat {
    padding-top: 20px;
    padding-left: 50px;
    height: 70vh;
    width: 80vw;
    border-collapse: black;
  }

  .user-chat {
    display: flex;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid black;
    width: 60vw;
  }
}