@font-face {
  font-family: inkinc;
  src: url(ink.otf);
}

.main-custom{
  background-image: url('/images/tattoo-arm.jpeg');
  background-size: cover;
  color:white;
  height: 100vh;
  margin-bottom: 0 !important;
}

.main-custom h1{
  font-family: inkinc;
  font-size: 8rem;
}


.home-custom{
  width: 80% !important;
  color: white;
}

.home-img{
  width: 60% !important;
}

.about-custom{
  background-color:black;
  padding-left: 5%;
  padding-right: 5%;
}

.card-height{
  height: 100%;
}

.card-custom{
  background-color: black !important;
  padding: 3%;
  border: 0px !important;
}

.card-body-custom{
  padding-top: 30%;
}
.footer{
  background-color: black;
  color: grey;
  width: 100%;
  padding: 15px;
}

.footer-content{
  padding-left:5%;
  padding-right:5%;

}
.icons img{
  width:55px;
  padding-left: 30px;
}

.text-footer{
  font-size: 18px;
}

.cover-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  margin-top: 10%;
}

.cover-content img {
  margin-right: 50px;
}

