.nav-custom{
  position: absolute;
  top: 0;
  width: 100%;
}
.nav-item-custom a{
  color: white !important;
  font-weight: 900;
  transition: all .5s ease-in;
}

.nav-item-custom a {
  position: relative;
}
.nav-item-custom a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: red;
  height: 1px;
}
.nav-item-custom a:hover:after {
  width: 100%;
}
.dropdown-custom{
  background-color: black !important;
}

.dropdown-custom a:hover{
  background-color: red !important;
}

.btn-prof{
  border-bottom: 1px solid red !important;
  color: white !important;
  font-weight: 900;

}
.btn-prof a{
  color: white !important;
  text-decoration: none;
}

.btn-prof:hover{
  color: white !important;
  background-color: red;
}

.btn-prof a:hover{
  color: white !important;
  text-decoration: none;
}

.btn-log{
  border: 1px solid red;
  border-radius: 5px;
  background-color: black;
}

.btn-log a{
  color: white !important;
  text-decoration: none;
}

.btn-log a:hover{
  color: white !important;
  text-decoration: none;
}

.btn-log:hover{
  color: white !important;
  background-color: red;
}
.nav-responsive-log{
  display: none;
}

@media only screen and (max-width: 1024px) {
  .nav-responsive button {
    display: none;
  }
  .nav-responsive-log{
   display: contents;
  }
}